/* comment in css */
body {
    background-color: #8BA1BB;
    font-family: Arial;
}

div.content {
    background-color: white;
    margin:0px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 10px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    text-align: center;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
}

div.description {
    text-align: center; 
}

.center {
    text-align: center;
    width: 100%;
}

div.catagory {
    text-align: center;
}

p.catagory {
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: -20px;
    padding: 18px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.seperator {
    height: 1px;
    width: 10%;
    background-color: black;
    margin-left: 45%;
    margin-right: 45%;
}

div.info {
    position: relative;
}

table.info {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: white; 
    background-color: #6C829DC0; 
    height: 10%;
}

table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 8px;
}

table.info th {
    text-align: bottom;
    padding-bottom: 8px;
    font-size: 14px;
}

div.col {
    width: 100%;
    margin-top: 20px;
}

div.col h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 10px solid rgb(13, 134, 134);
    padding-bottom: 5px;
}

div.col1 {
    display: inline-block;
}

div.col2 {
    float: right;
}
div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 5%;
    margin: 4px;
}
table.instructions p.number {
    background-color: #6C829D;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
}
table.instructions td.instruction_step {
    font-size: 14px;
    padding-left: 10px;
}
* {
    overflow: auto;
}

/* if device is desktop */
@media only screen and (min-width: 768px) {
    /* For desktops or laptops: */
    div.content {
        margin:0px 10% 80px 10%;
        padding: 30px;
        max-width: 650px;
    }
    table.info td{
        text-align: center;
        vertical-align: top;
        font-size: 14px;
    }
    
    table.info th {
        text-align: bottom;
        padding-bottom: 8px;
        font-size: 16px;
    }
    div.col {
        width: 45%;
        margin-top: 20px;
    }
    
    div.col h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        border-bottom: 10px solid rgb(13, 134, 134);
        padding-bottom: 5px;
    }
    
    div.col1 {
        display: inline-block;
    }
    
    div.col2 {
        float: right;
    }
}

@media only screen and (min-width: 900px) {
    div.content {
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
}
